table{
    width: 100%;
    border-collapse: collapse;
}

td,th{
    border: 1px solid gray;
    min-width: 80px;
}

tbody tr:nth-child(even){
    background-color: blanchedalmond;
}

thead tr{
    background-color: bisque;
    color: blue;
}

.osszefont{
    background-color: aquamarine;
}

.osszevont{
    background-color: blueviolet;
}

@media screen and (max-width:500px) {
    article{
        overflow-x: scroll;
    }
}